version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - php
    restart: always

  php:
    build:
      context: .
      dockerfile: docker/php.Dockerfile
    volumes:
      - ./api:/app/api
    depends_on:
      - mailpit
    restart: always

  mailpit:
    image: axllent/mailpit
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP
    restart: always
