version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - php
    restart: always

  php:
    build:
      context: .
      dockerfile: docker/php.Dockerfile
    volumes:
      - ./api:/app/api
    env_file:
      - .env
    restart: always
