version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - php
    restart: always

  php:
    image: php:8.3-fpm-alpine
    volumes:
      - ./api:/app/api
    restart: always
